@import './variables.less';

.@{prefix}__root-wrapper {
  height: 100vh;
  background-color: #fff;

  .archive-app-pro-layout-content {
    padding-left: 0;
    padding-right: 0;
  }
  .archive-app-pro-layout-sider {
    z-index: 999;
  }
}

.@{prefix}__main-content {
  position: relative;
  min-height: 600px;
  padding-bottom: @spacing-2xl;
  padding-left: @spacing-4xl;
  padding-right: (@spacing-4xl / 2) + @spacing-sm;

  .@{prefix}__page__header--fixed {
    width: calc(100% + @spacing-4xl + (@spacing-4xl / 2) + @spacing-sm);
    margin-left: -@spacing-4xl;
    padding-left: @spacing-4xl;
  }
}

@media (max-width: @screen-lg-max) {
  .@{prefix}__main-content {
    padding-left: @spacing-3xl;
    padding-right: (@spacing-3xl / 2) + @spacing-sm;

    .@{prefix}__page__header--fixed {
      width: calc(100% + @spacing-3xl + (@spacing-3xl / 2) + @spacing-sm);
      margin-left: -@spacing-3xl;
      padding-left: @spacing-3xl;
    }
  }
}

@media (max-width: @screen-md-max) {
  .@{prefix}__main-content {
    padding-left: @spacing-2xl;
    padding-right: (@spacing-2xl / 2) + @spacing-sm;

    .@{prefix}__page__header--fixed {
      width: calc(100% + @spacing-2xl + (@spacing-2xl / 2) + @spacing-sm);
      margin-left: -@spacing-2xl;
      padding-left: @spacing-2xl;
    }
  }
}

@media (max-width: @screen-sm-max) {
  .@{prefix}__main-content {
    padding-left: @spacing-xl;
    padding-right: (@spacing-xl / 2) + @spacing-sm;

    .@{prefix}__page__header--fixed {
      width: calc(100% + @spacing-xl + (@spacing-xl / 2) + @spacing-sm);
      margin-left: -@spacing-xl;
      padding-left: @spacing-xl;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .@{prefix}__main-content {
    padding-left: @spacing-lg;
    padding-right: @spacing-lg;

    .@{prefix}__page__header--fixed {
      width: calc(100% + @spacing-lg + @spacing-lg);
      margin-left: -@spacing-lg;
      padding-left: @spacing-lg;
    }
  }
}
