@prefix: archive-app;

@home-width: 1280px;
@toc-width: 200px;
@markdown-code-bg: #f2f4f5;


@color-primary: #1c6eff;

/* spacing -------------------------- */
@spacing-gutter: 8px;

@spacing-xs: (@spacing-gutter / 2);
@spacing-sm: @spacing-gutter;
@spacing-md: @spacing-gutter * 1.5;
@spacing-lg: @spacing-gutter * 2;
@spacing-xl: @spacing-gutter * 3;
@spacing-2xl: @spacing-gutter * 4;
@spacing-3xl: @spacing-gutter * 6;
@spacing-4xl: @spacing-gutter * 8;

@screen-sm: 600px;
@screen-sm-min: @screen-sm;

@screen-md: 960px;
@screen-md-min: @screen-md;

@screen-lg: 1280px;
@screen-lg-min: @screen-lg;

@screen-xl: 1720px;
@screen-xl-min: @screen-xl;

@screen-xs-max: (@screen-sm-min - 0.01px);
@screen-sm-max: (@screen-md-min - 0.01px);
@screen-md-max: (@screen-lg-min - 0.01px);
@screen-lg-max: (@screen-xl-min - 0.01px);
